.DS_Store
.aswb
.idea
.vscode
/bazel-*
/output
/output_logs
/datasets/output
/datasets/downloads
/mobile_back_qti/snpe-*
*.so
* .apk
* .tflite
* .dlc
* .zip
* .jar
* .tgz
__pycache__/
mobile_app_open.iml
*.log
