.DS_Store
.aswb
.clwb
.ijwb
.idea
.vscode
.fvm
/bazel-*
/output
/output_logs
/datasets/output
/datasets/downloads
*.so
* .apk
* .tflite
* .dlc
* .zip
* .jar
* .tgz
__pycache__/
*.log
*.iml
*.env

*.g.dart
*.gen.dart
*.gen.h
