name: mlperfbench
description: The MLPerf app offers a simple mobile UI for executing MLPerf inference tasks and comparing results.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.7.1+12

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  collection: ^1.15.0
  cupertino_icons: ^1.0.0
  device_info: ^2.0.0
  flutter_svg: ^0.22.0
  path_provider: ^2.0.0
  provider: ^6.0.0
  share: ^2.0.1
  shared_preferences: ^2.0.5
  quiver: ^3.0.0
  url_launcher: ^6.0.0
  wakelock: ^0.5.1
  ios_utsname_ext: ^2.0.0
  uuid: ^3.0.4
  package_info_plus: ^1.0.6
  share_plus: ^2.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_launcher_icons: ^0.9.0
  import_sorter: ^4.6.0
  intl: ^0.17.0
  pedantic: ^1.11.0
  protoc_plugin: ^20.0.0

flutter_icons:
  ios: true
  image_path: "assets/ic_launcher_ios.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  assets:
    - assets/
  generate: true
  uses-material-design: true

import_sorter:
  comments: false
  ignored_files:
    - \/.pub-cache\/*
    - \/lib/protos\/*
    - \/lib/localizations/*
