name: mlperfbench
description: The MLPerf app offers a simple mobile UI for executing MLPerf inference tasks and comparing results.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# version format: <semantic_app_version>+<build_number>.
# Note: build_number will be set by CI using the CLI option --build-number
version: 3.0.0+1

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: ">=3.7.1 <3.8.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  collection: ^1.15.0
  cupertino_icons: ^1.0.0
  device_info_plus: ^8.1.0
  flutter_svg: ^1.1.6
  path_provider: ^2.0.0
  provider: ^6.0.0
  share: ^2.0.1
  shared_preferences: ^2.0.5
  quiver: ^3.0.0
  url_launcher: ^6.0.0
  wakelock: ^0.6.1+2
  uuid: ^3.0.4
  package_info_plus: ^3.0.0
  share_plus: ^6.0.0
  mlperfbench_common:
    path: ../flutter_common
  crypto: ^3.0.1
  tuple: ^2.0.0
  bot_toast: ^4.0.2
  process_run: ^0.12.3+2
  flutter_lints: ^2.0.1
  device_marketing_names: ^0.6.1
  file_picker: ^5.2.10
  worker_manager: ^5.0.3
  ffi: ^2.0.1
  async: ^2.9.0
  archive: ^3.3.0
  intl: ^0.17.0
  permission_handler: ^10.2.0
  firebase_storage: ^11.1.1
  firebase_core: ^2.10.0
  firebase_auth: ^4.4.2
  flutter_markdown: ^0.6.15

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_launcher_icons: ^0.12.0
  import_sorter: ^4.6.0
  pedantic: ^1.11.0
  protoc_plugin: ^20.0.1

flutter_icons:
  ios: true
  image_path: "assets/ic_launcher_ios.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  assets:
    - assets/
    - assets/icons/
    - assets/text/
    - assets/android-boards/database.json
  generate: true
  uses-material-design: true

import_sorter:
  comments: false
  ignored_files:
    - \/.pub-cache\/*
    - \/lib/protos\/*
    - \/lib/localizations/*
