name: Code Analysis

on:
  push:
    branches: [ master, submission-v* ]
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  sonar:
    name: SonarScanner
    runs-on: ubuntu-22.04
    timeout-minutes: 120
    permissions:
      contents: read
      packages: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DOCKER_IMAGE_TAG: ghcr.io/mlcommons/mobile_app_open-scanner:${{ github.run_number }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_OUT_DIR: sonar_build_wrapper_output
      REPO_NAME: ${{ github.event.repository.name }}
      PR_NUMBER: ${{ github.event.number }}
      PR_BRANCH: ${{ github.HEAD_REF }}
      PR_BASE: ${{ github.BASE_REF }}
      CONNECT_TTY_TO_DOCKER: 0
      WITH_TFLITE: 1
      WITH_PIXEL: 1
      FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          fetch-depth: 0
