name: Code Analysis

on:
  push:
    branches: [ master, submission-v* ]
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  sonar:
    if: ${{ github.event.repository.name == 'mobile_app_open' }}
    name: SonarScanner
    runs-on: ubuntu-22.04
    timeout-minutes: 120
    permissions:
      contents: read
      packages: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DOCKER_IMAGE_TAG: ghcr.io/mlcommons/mobile_app_open-scanner:${{ github.run_number }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_OUT_DIR: sonar_build_wrapper_output
      REPO_NAME: ${{ github.event.repository.name }}
      PR_NUMBER: ${{ github.event.number }}
      PR_BRANCH: ${{ github.HEAD_REF }}
      PR_BASE: ${{ github.BASE_REF }}
      CONNECT_TTY_TO_DOCKER: 0
      WITH_TFLITE: 1
      WITH_PIXEL: 1
      FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          fetch-depth: 0
      - name: Free up disk space
        run: |
          echo BEFORE:
          df -h
          rm -rf /opt/hostedtoolcache/*
          echo AFTER:
          df -h
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Log in to the Container registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata for base image
        id: meta-base
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: ghcr.io/mlcommons/mobile_app_open-base
          flavor: latest=true
          tags: type=raw,value=${{ github.run_number }}
      - name: Build and push base image
        uses: docker/build-push-action@ca052bb54ab0790a636c9b5f226502c73d547a25 # v5.4.0
        with:
          context: flutter/android/docker
          file: flutter/android/docker/Dockerfile
          push: true
          tags: ${{ steps.meta-base.outputs.tags }}
          labels: ${{ steps.meta-base.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Extract metadata for scanner image
        id: meta-scanner
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: ghcr.io/mlcommons/mobile_app_open-scanner
          flavor: latest=true
          tags: type=raw,value=${{ github.run_number }}
      - name: Build and push scanner image
        uses: docker/build-push-action@ca052bb54ab0790a636c9b5f226502c73d547a25 # v5.4.0
        with:
          context: tools/scanner
          file: tools/scanner/Dockerfile
          build-args: BASE_DOCKER_IMAGE_TAG=ghcr.io/mlcommons/mobile_app_open-base:${{ github.run_number }}
          push: true
          tags: ${{ steps.meta-scanner.outputs.tags }}
          labels: ${{ steps.meta-scanner.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Scan code
        run: make docker/scanner/scan

  codeql:
    if: ${{ github.event.repository.name == 'mobile_app_open' }}
    name: CodeQL
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      packages: read
      actions: read
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Initialize CodeQL
        uses: github/codeql-action/init@3c3833e0f8c1c83d449a7478aa59c036a9165498 # v3.29.11
        with:
          languages: java-kotlin, javascript-typescript, python, actions
          build-mode: none
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@3c3833e0f8c1c83d449a7478aa59c036a9165498 # v3.29.11
